.App {
  text-align: center;
  font-family: cursive 20px;
  color: rgba(5, 5, 5, 0.795);
  background-image: url(http://image.blingee.com/images19/content/output/000/000/000/7d5/792179629_937563.gif?4);
    border-bottom-color: darkslateblue;
    border-bottom: solid 100px;
    border-image-outset: 700px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  


    }
    .botao {
      box-shadow: brown;
      color: rgb(121, 23, 250);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      width: 70px;
      height:30px;
      font-size: 15px;
     
      
    }
  


 


